.decoration-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}
.DecorationBox{
    flex-basis: 200px;
    height:200px;
    border-radius: 5px;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}
.DecorationBox .Button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.UserCard-avatar .has-user-decoration.Avatar{
    border:0;
    padding: 4px;
}